.root{
    -fx-background-color: #efffdd;
    -fx-padding: 5px;
    /*-fx-background-image: url("f.png");
    -fx-background-repeat: stretch;*/
}

.button {
    -fx-background-color: linear-gradient(#99ff77, #33bb00);
}

.button:hover {
    -fx-background-color: linear-gradient(#77ff55, #339922);
}

.button:pressed {
    -fx-background-color: linear-gradient(#55ff33, #337722);
}

.text-area .content{
    -fx-background-color: black;
}

.text-area{
    -fx-text-fill: #33bb33;
    -fx-font-family: Consolas;
}